html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(255, 137, 2), gold) !important;
}

.navbar-brand img {
    width: 180px;
    margin: -40px 0 0 50px; /* top right bottom left */
}

.navbar-nav, .nav-items{
   font-size: 14pt;
   gap: 10px;
   display: flex;
   justify-content: center; 
   margin-top: -70px;
}


.nav-link.active1,
.nav-link:hover {
    border-bottom: 1px solid rgb(218, 150, 5);
    color: black;
    font-weight: bold;
    padding: 5px;
    transition: all 0.6s;
}

.caption{
    margin: -250px auto auto -60px;
    text-align: left;
    font-size: 14pt;
}

.card-body{
      background: linear-gradient(45deg, rgb(255, 137, 2), gold);
}


@media screen and (max-width: 787px) {

    .navbar {
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        z-index: 1030;
    }

    .navbar-nav, .nav-items {
        font-size: 12pt;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 10px;
        position: relative;
        z-index: 1;
    }

    .collapse.navbar-collapse.show {
        background: #fff;
        padding-bottom: 10px;
        position: relative;
        z-index: 1;
    }

    .navbar-brand img {
        width: 100px;
        margin: 10px auto 10px auto;
        display: block;
    }

    .nav-link.active1,
    .nav-link:hover {
        border-bottom: none;
        padding: 5px;
    }

    .carousel-item img {
        opacity: 0.5;
    }

    .caption {
        position: relative;
        margin: -80px auto auto -10px;
        text-align: left;
        top: 40px;
    }

    .caption p{
        line-height: 1.2;
        font-size: 10px;
        gap: 2px;
    }

    .card{
        margin-bottom: 10px;
    }

    .row{
        row-gap: 8px;
    }


}