html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #e9f1fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cpath d='M0 20 C40 10 60 30 100 20 V100 H0 Z' fill='%23d0e6f9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand img {
    width: 180px;
    margin: -40px 0 0 50px; /* top right bottom left */
}

.navbar-nav, .nav-items{
   font-size: 14pt;
   gap: 10px;
   display: flex;
   justify-content: center; 
   margin-top: -70px;
}


.nav-link.active1,
.nav-link:hover {
    border-bottom: 1px solid rgb(218, 150, 5);
    color: black;
    font-weight: bold;
    padding: 5px;
    transition: all 0.6s;
}

.caption{
    margin: -250px auto auto -60px;
    text-align: left;
    font-size: 14pt;
}

.card-body{
      background: rgb(228, 226, 226)
}

@media screen and (max-width: 787px) {

    .navbar {
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        z-index: 1030;
    }

    .navbar-nav, .nav-items {
        font-size: 12pt;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 10px;
        position: relative;
        z-index: 1;
    }

    .collapse.navbar-collapse.show {
        background: #fff;
        padding-bottom: 10px;
        position: relative;
        z-index: 1;
    }

    .navbar-brand img {
        width: 100px;
        margin: 10px auto 10px auto;
        display: block;
    }

    .nav-link.active1,
    .nav-link:hover {
        border-bottom: none;
        padding: 5px;
    }

    .carousel-item img {
        opacity: 0.5;
    }

    .caption {
        position: relative;
        margin: -80px auto auto -10px;
        text-align: left;
        top: 40px;
    }

    .caption p{
        line-height: 1.2;
        font-size: 10px;
        gap: 2px;
    }

    .card{
        margin-bottom: 10px;
    }

    .row{
        row-gap: 8px;
    }


}